html {
  font-size: 20px;
}

body {
  background-color: #298CAB;
}

.main {
  background-color: #3CC3BF;
}

.menu {
  display: flex;
  align-items: flex-start;
}

.nav-btn {
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  outline: none;
  border: none;
  background-color: #3CC3BF;
  width: 33.33333333%;
  margin: 0;
}

.nav-btn:hover {
  background-color: #2EDFF1;
}

.checked {
  background-color: #2EDFF1;
}

.stream {
  display: flex;
  height: 75px;
  background-color: #2EDFF1;
  margin-bottom: 2px;
}

.stream-logo {
  flex-basis: 50px;
  flex-shrink: 0;
  margin: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid #E331C6;
  border-radius: 50%;
}

.stream-data {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.streamer {
  width: 100%;
  color: #625E5E;
  text-align: center;
  margin-top: 10px;
  flex-grow: 3;
  text-decoration: none;
}

.streamer.online {
  font-weight: bold;
  color: #223FBA;
}

.streamer.online:hover {
  text-decoration: underline;
}

.stream-info {
  /*flex-grow: 2;*/
  margin: 0 auto;
  color: #635265;
  font-style: italic;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 600px) {
  .main {
    width: 600px;
    margin: 30px auto;
  }

  .stream-data {
    width: 90%;
    margin: auto;
    flex-wrap: nowrap;
  }

  .streamer {
    width: auto;
    flex-grow: 0;
    margin: 0 10px;
  }

  .stream-info {
    margin: 0 auto;
    margin-right: 20px;
    flex-grow: 0;
  }

}
